body {
  background-image: url("http://weightlosssuccessbook.com/butterfly-purple.jpg");
  background-size: 100%;
  min-height: 100%;
  width: 100%;
}

.container {
  margin-top: 140px;
}

.disclaimer {
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 15px;
  font-family: Verdana;
  font-size: small;
  margin-bottom: 50px;
  margin-left: 120px;
  margin-top 50px;
  padding: 10px;
  width: 80%;
}

h1 {
  align: center;
  background-color: antiquewhite;
  font-family: 'Bitter';
}

h4 {
  color: antiquewhite;
  font-family: 'Bitter';
}

h5 {
  color: antiquewhite;
  font-family: 'Bitter';
}

.linkbox {
  font-weight: bold;
  display: block;
  padding: 10px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 3px solid purple;
  border-radius: 15px;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  background-color: antiquewhite;
}

.linkbox img {
    float: right;
    margin: 0 0 10px 10px;
}

}

/*.text {
  font-weight: bold;
  color: antiquewhite;
}*/

.top-banner {
  /*width: 100%;*/
  /*font-family: 'Oswald';
  font-size: 36px;*/
  /*top: 0;
  left: 0;*/
  /*border: 3px solid #73AD21;
  background-color: blue;
  text-align: center;*/
  display:block;
  position:relative;
  overflow:hidden;/*keeps the image in the container*/
  height: 100px;
}
.top-banner img{position:absolute;top:0;width:100%}
